@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{

    --cor1: #98BAE3;
    --cor2: #5981B1 ;
    --cor3: #365475 ;
    --cor4: #15273C;
    --cor5: #020408;

    --font: 'Lexend', sans-serif;
}

*{
    font-family: var(--font);
}

body{
    height: 100vh;
    background-color: var(--cor5);
    color: white;
}

section.register{

    /*Centralizando todos os itens*/
    position: absolute;
    width: 100%;
    height: 600px;
    top: 7%;
    left: 50%;
    
    transform: translate(-50%);

}

img{
    display: block;
    margin: auto;
    max-width: 60%;
}

strong{
    color: #5981B1;
}


/*Configurando o formulário*/

form{
    padding: 20px;
    width: 100%;
}

div#text{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

div#text > h1{
    
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.2em;
}


div#text > p{
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.2em;
}

div#text > p a{
    color: var(--cor1);
    text-decoration: none;
}

div#text > p a:hover{
    text-decoration: underline;
}

/*Input Configs*/

.camp > input{
    display: block;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    width: 100%;
    outline: none;
    background-color: #0d1a33;
    border: 1.5px solid white;
    color: white;
    border-radius: 15px;
    
}


#checkbox{
    width: 100%;
    margin: 30px 10px 30px ;
}

/*Botões google e facebook*/

form > button{
    display: block;
    flex-direction:row ;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #020408;
    transition: .5s;   
    cursor: pointer;   

    font-size: 1.1em;

}

button:hover{
    background-color: #020408;
    color: white;
    border: 1px solid white;
}


/*Botão de enviar*/

input[type=submit]{
    background-color: var(--cor3);
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 65%;
    height: 35px;
    border: none;
    border-radius: 10px;

    color: white;
    font-size: 1.1em;

    transition: .5s;
}

input[type=submit]:hover{
    background-color: white;
    color: #365475;
    font-weight: bold;

    border: 1px solid #365475;
}

/*Adaptando tamanhos de tela*/

/*Tablets*/

@media screen and (min-width: 768px) and (max-width: 1024px) {   

    /*Ajustando a altura para tablets*/

    section.register{
        top: 5%; 
    }

    div#text > h1{
        font-size: 3.3em;
    }

    div#text > p{
        font-size: 1.7em;
    }
    
    /*Input Configs*/

    .camp > input{
        margin-bottom: 20px;
        width: 75%;
        border: 1.5px solid white;
    }

    #checkbox{
        width: 100%;
        margin: 50px 110px 50px ;
    }

    form > button{
        margin-bottom: 20px;
        width: 50%;
        height: 50px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid #020408;
        transition: .5s;   
        cursor: pointer;   
    }

    /*Botão de enviar*/

    input[type=submit]{
        background-color: var(--cor3);
        cursor: pointer;
        display: block;
        margin: auto;
        margin-top: 50px;
        width: 50%;
        height: 35px;
        font-weight: bold;
        border: none;
        border-radius: 10px;

        color: white;

        transition: .5s;
    }

}

/*TELAS GRANDES*/

@media screen and (min-width: 1024px){


    div#text{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    div#text > h1{
        text-align: center;
        margin-bottom: 20px;
        font-size: 2.3em;
    }
    
    
    div#text > p{
        text-align: center;
        margin-bottom: 50px;
    }

    div#text > p a{
        text-decoration: none;
        color: #020408;
    }

    div#text > p a:hover{
        text-decoration: underline;
    }

    section.register{
        top: 5%;
        display: block;
        margin: auto;
        width: 75%;
        height: 90%;
        
        /*
        border-radius: 20px;
        border: 3px solid white;  
        */
    }

    img{
        display: none;
    }

    /*Adicionando a imagem via CSS para telas grandes*/

    div#img-bg{
        background: url(images/spaceship.png) no-repeat;
        float: left;
        background-position: center;
        width: 53%;
        height: 100%;
        background-color: var(--cor3);
        border-radius: 0px 20px 20px 0px;
        position: absolute;
        
    }

    form{
        
        background-color: var(--cor4);
        border-radius: 20px;
        margin: auto;
        float: right;
        padding-left: 20px;
        width: 50%;
        height: 100%;
    }

    /*Input Configs*/

    .camp > input{
        background-color: var(--cor4);
        color: #020408;
        margin-bottom: 20px;
        width: 65%;
        height: 50px;
        border: 1.5px solid white;

    }

    div#checkbox{
        text-align: justify;
        margin-left: 19%;
        width: 60%;
    }

    form > button{

        width: 60%;
        height: 40px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid #020408;
        transition: .5s;   
        cursor: pointer;
        font-size: 1em;

    }

    /*Botão de enviar*/

    input[type=submit]{
        background-color: var(--cor5);
        font-size: 1em;
        cursor: pointer;
        display: block;
        margin: auto;
        width: 60%;
        height: 35px;
        font-weight: bold;
        border: none;
        border-radius: 20px;

        color: white;
        
        transition: .5s;
    }

    
}