@charset 'UTF-8';

/*Importando fontes*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

*{
    margin: 0;
    padding: 0;

    font-family: var(--font-padrão);
}

:root{
    --font-padrão: 'Montserrat', sans-serif;
    --links: 'Lexend', sans-serif;

    --cor1: #cdd4e9;
    --cor2: #5981B1 ;
    --cor3: #223D7C ;
    --cor4: #12234A;
    --cor5: #141414;
}

/*Configurações header Mobile*/

body{
    background-color: var(--cor5);
}

main > h1{
    font-size: 1.9em;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color: white;
}


img{

    display: block;
    margin: auto;
    
    max-width: 90%;
    min-width: 30%;

    border-radius: 15px;
    border: 3px solid white;

    margin-top: 20px;
    margin-bottom: 50px;

    transition: 0.3s;
}

.cards{
    
    display: block;
    margin: auto;
    border-radius: 10px;


    max-width: 80%;
    min-width: 30%;

    /*Animação em 3D nos cards*/
    perspective: 900px;
   
}

/*Opacidade (Animação) Cards (MOBILE)*/

img:hover{
    opacity: 0.7;
}


/*TABLETS*/

@media screen and (min-width: 768px) and (max-width: 1024px) {


    
}

/*Telas Grandes*/

@media screen and (min-width: 1024px) {

    /*Configuração cards login*/

    .cards{
        display: flex;
        padding: 0 6%; /*Aplicando a distancia */
        margin-left: 30px;
    }
 
    /*Animação em telas grandes usando figcaption*/

    .card-3d{
        position: relative;
        transform-style: preserve-3d;
        will-change: transform;
        transition: transform 0.6s;
    }
     
    .card-3d:hover{
        transform: translateZ(50px);
    }

}

