/*Importando fontes*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-padrão);
}

:root{
    --font-padrão: 'Montserrat', sans-serif;
    --links: 'Lexend', sans-serif;
    --font-title: 'Saira', sans-serif;

    --cor1: #cdd4e9;
    --cor2: #5981B1 ;
    --cor3: #223D7C ;
    --cor4: #12234A;
    --cor5: #141414;
}

body{
    background: url(../images/perfil-background.jpg) no-repeat;
    background-position: left top;
    height: 100%;
    overflow-y: hidden;
}

.box-text{
    color: white;
    margin: 40px;
}

.box-text > h1{
    font-family: var(--font-title);
    font-size: 2em;
    text-align: center;
}

.box-text > p{
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 2px solid white;
    padding: 20px;
    margin-top: 10px;
    font-size: 1.2em;
}

.btn{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
       
}

a{
    text-decoration: none;
    color: white;
    
}

.portfolio{
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    background-color: #12234A;
    border: none;
    color: white;
    border: 2px solid white;
    transition: .4s;
    cursor: pointer;
    color: white;
    font-family: var(--links);
    font-size: 1.1em;

}

.portfolio:hover{
    background-color: transparent;
}

.curriculo{
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    background-color: transparent;
    border: none;
    color: white;
    border: 2px solid white;
    transition: .4s;
    cursor: pointer;
    font-family: var(--links);
    font-size: 1.1em;
}

.curriculo:hover{
    background-color: #12234A;
}


strong{
    color: red;
}

img{
    border: 4px solid white;
    background: linear-gradient(#5981B1, #223D7C, #12234A) padding-box, linear-gradient(260deg, #cdd4e9, #cdd4e9, #223D7C) border-box;
    max-width: 60%;
    min-width: 30%;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 40px;
}

#image-desktop{
    display: none;
}


/*Para tablets*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}

/*Para telas grandes*/

@media screen and (min-width: 1024px) {

    body{
        background: url(../images/perfil-background.jpg) no-repeat;
        background-position: left top;
        background-size: cover;
        height: 100vh;
    }

    section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 70%;
        height: 70%;
        backdrop-filter: blur(20px);
        border: 2px solid #5981B1;
        
        
        border-radius: 20px;
        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .box-text{
        display: flex;
        flex-direction: column;
        justify-content: start ;
    }

    .box-text > h1{
        font-family: var(--font-title);
        font-size: 2em;
        text-align: unset;
    }

    .box-text > p{
        padding: unset;
        text-align: unset;
        border: unset;
        backdrop-filter: unset;
    }
    
    .btn{
        
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: start;        
    }

    .portfolio{
        margin: 0px;
    }

    #image-mobile{
        display: none;
    }
 
    #image-desktop{
        display: block;
        border: 3px solid;
        border-color: #5981B1 ;
        width: 100%;
        margin-top: 10px;
    }
    

}

