@charset 'UTF-8';

/*Configurações gerais*/

*{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor1:#28104E;
}


*{
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
    background-color: var(--cor1);
    text-align: center;

}


body{
    background-color: #181818;
}


/* #region Configurações box do perfil*/

section#perfil{
    border-radius: 20px;
    border: 2px solid white;
    width: 75%;
    background-color: var(--cor1);
    margin: auto;
    margin-top: 5%;
}

#perfil-photo img{

    display: flex;
    margin: auto;
    padding-top: 20px;

    max-width: 80%;
    min-width: 30%;
    
}

/* #endregion */

h1{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 2em;
}

h2{
    text-align: center;
    margin-top: 20px;
    text-align: center;
    color: white;
}

p{
    color: white;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.1em;
}

/*Area de redes sociais*/

#redes{
    background-color: black;
    padding-top: 5px;
    border-radius: 0px 0px 20px 20px; 
    border-top: 1px solid white;
}

ul{
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
}
 ul > figcaption > li > a{
    padding: 15px;
    
}

/*Seta para baixo*/

#arrow{
    /*Centralizando*/
    display: block;
    margin: auto;
    margin-top: 10%;

    width: 12%;
    
}

/*Para tablets*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#perfil{
        width: 55%;
    }
}

/*Para telas grandes*/

@media screen and (min-width: 992px) {
    section#perfil{
        width: 30%;
    }

    ul{
        perspective: 900px;
    }

    ul > figcaption > li > a{
        padding: 25px;
        
    }
    /*Animação nas redes sociais*/

    .card-3d{
        position: relative;
        transform-style: preserve-3d;
        will-change: transform;
        transition: transform 0.6s;
    }

    .card-3d:hover{
        transform: translateZ(70px);
    }

}