@charset 'UTF-8';

/*Configurações gerais*/

*{
    margin: 0;
    padding: 0;

    font-family: var(--font-padrão);
}

:root{
    --font-padrão: 'Montserrat', sans-serif;

    --cor1: #98BAE3;
    --cor2: #5981B1 ;
    --cor3: #365475 ;
    --cor4: #15273C;
    --cor5: #020408;
}

*{
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
    background-color: var(--cor1);
    text-align: center;
}


body{
    background-color: var(--cor5);
}

/*Página em desenvolvimento*/
body > h1{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}


/* #region Configurações box do perfil*/

section#perfil{
    border-radius: 20px;
    border: 2px solid white;
    width: 75%;
    background-color: var(--cor1);
    margin: auto;
    margin-top: 5%;
}

#perfil-photo img{

    display: flex;
    margin: auto;
    padding-top: 20px;

    max-width: 80%;
    min-width: 30%;
    
}

/* #endregion */

h1{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 2em;
}

h2{
    text-align: center;
    margin-top: 20px;
    text-align: center;
    color: white;
}

p{
    color: white;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.1em;
}

/*Area de redes sociais*/

#redes{
    background-color: black;
    padding-top: 5px;
    border-radius: 0px 0px 20px 20px; 
    border-top: 1px solid white;
}

ul{
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
}
 ul > figcaption > li > a{
    padding: 15px;
    
}

/*Seta para baixo*/

#arrow{
    /*Centralizando*/
    display: block;
    margin: auto;
    margin-top: 10%;

    width: 12%;
    
}

aside{
    width: 350px;
    margin: auto;
}

aside > h1{
    margin-bottom: 50px;
}

aside > p{
    margin-top: 20px;
    text-align: justify;
    line-height: 30px;
}

/*Configurando as logos das Tecnologias*/

div.tec-logo{
    /*Centralizando a div*/
    width: 300px;
    display: block;
    margin: auto;
    
}

div.tec-logo > ul > figcaption{
    /*Centralizando as imagens das logos*/
    display: flex;
    justify-content: center;
    
}

div.tec-logo > ul{
    background-color: #28104E;
    border-radius: 20px;
    border: 1px solid white;
    
    /*Colocando uma em baixo da outra*/  
    display: flex;
    flex-direction: column;
    
}

/*Dando espaço entre as logos*/

div.tec-logo img {  
    margin-top: 80px;  
}

/*Para tablets*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#perfil{
        width: 55%;
    }
}

/*Para telas grandes*/

@media screen and (min-width: 992px) {

    section#perfil{
        width: 30%;
    }

    #arrow{
        /*Centralizando*/
        margin-top: 6%;
        margin-bottom: 6%;
        width: 6%;
        
    }

    ul{
        perspective: 900px;
    }

    ul > figcaption > li > a{
        padding: 25px;
        
    }

    aside{
        width: 1000px;
        margin: auto;
    }

    aside > h1{
        margin-bottom: 50px;
    }

    aside > p{
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: justify;
        line-height: 30px;
    }


    /*Animação nas redes sociais*/

    .card-3d{
        position: relative;
        transform-style: preserve-3d;
        will-change: transform;
        transition: transform 0.6s;
    }

    .card-3d:hover{
        transform: translateZ(70px);
    }

}

