@charset 'UTF-8';

/*Importando fontes*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');


*{
    margin: 0;
    padding: 0;

    font-family: var(--font-padrão);
}

:root{
    --font-padrão: 'Montserrat', sans-serif;
    --links: 'Lexend', sans-serif;
    --font-title: 'Saira', sans-serif;

    --cor1: #cdd4e9;
    --cor2: #5981B1 ;
    --cor3: #223D7C ;
    --cor4: #12234A;
    --cor5: #141414;
}


/*Configurações header Mobile*/

body, html{
   background-color: var(--cor5);
}

main{
    position: relative;
}

.main-title > h1{
    text-align: center;
    font-family: var(--font-title);
    letter-spacing: 1.5px;
    color: white;
    font-weight: bold;
    margin-top: 50px;

}

img{
    display: block;
    margin: auto;
    margin-top: 50px;
    
    max-width: 90%;
    min-width: 30%;

    border-radius: 15px;
    box-shadow: 1px 2px 2px black;
    border: 3px solid white;  
    transition: 0.3s;

}

.telas:hover{
    opacity: 0.7;
}

.cards{
    display: block;
    margin: auto;  
    
    max-width: 80%;
    min-width: 30%;
    
   
    /*Animação em 3D nos cards*/
    perspective: 900px;
}

/*MEDIA QUERYS*/


/*TABLETS*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/*Telas grandes*/

@media screen and (min-width: 1024px) {



    /*remover o efeito de opacidade em telas grandes*/

    .telas:hover{
        opacity: unset; 
    }

    img{
        transition: off;
    }
    
    /*Aplicando distancia entre os cards usando div*/

    .telas{
        margin: 20px;
    }
    
    /*Configuração cards*/
    .cards{
        display: flex; 
    }
 
    /*Animação em telas grandes usando figcaption*/

    .card-3d{
        position: relative;
        transform-style: preserve-3d;
        will-change: transform;
        transition: transform 0.6s;
    }
     
    .card-3d:hover{
        transform: translateZ(50px);
    }

    main > h1{
        padding-top: 20px;
        font-size: 2.4em;
    }
}