@media screen and (min-width: 992px) {
    
    


    /*Animação em telas grandes usando figcaption*/
    .card-3d{
        position: relative;
        transform-style: preserve-3d;
        will-change: transform;
        transition: transform 1s;
    }
     
    .card-3d:hover{
        transform: translateZ(50px);
    }
}