@charset 'UTF-8';

/*TABLETS*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
    }
}



/*Telas grandes*/

@media screen and (min-width: 992px) {

    /*Configurando as imagens*/

    .cards{
        display: flex;
        padding: 6%;
        margin-left: -95px;
    }

    #telas-login{
        margin: 0;
        
        padding: 20px;
        
    }

    #sites-parallax{
        margin: 0;
        padding: 20px;
    }

    #sites-projetos{
        margin: 0;
        padding: 20px;
    }

    header > h1{
        padding-top: 20px;
    }

    /*Menu Hamburguer*/

    span#burguer{
        display: none;
    }

    menu{
        display: block;
        margin: 20px;
        text-align: center;
    }

    menu > ul > li{
        display: inline-block;
        
    }
    
    /*Animação em telas grandes usando figcaption*/
    .card-3d{
        position: relative;
        transform-style: preserve-3d;
        will-change: transform;
        transition: transform 1s;
    }
     
    .card-3d:hover{
        transform: translateZ(50px);
    }
}